---
interface Props extends astroHTML.JSX.HTMLAttributes {
    pageIndex: number
    totalPage: number
}
const { pageIndex, totalPage, ...attrs } = Astro.props
const prevIsDisabled = totalPage == 0 || pageIndex == 0
const nextIsDisabled = totalPage == 0 || pageIndex == totalPage - 1
---

<script>
    window.addEventListener("click", e => {
        const target = e.target as HTMLElement | null
        if (target?.tagName === "UI5-BUTTON") {
            target.parentElement?.dispatchEvent(
                new CustomEvent<number>("pageIndexChange", {
                    detail: Number.parseInt(target.dataset.to as string),
                })
            )
        }
    })
</script>
<span {...attrs}>
    <ui5-button
        design="Emphasized"
        icon="navigation-left-arrow"
        disabled={prevIsDisabled}
        data-to={pageIndex - 1}
    >
    </ui5-button>
    {
        Array(totalPage)
            .fill(null)
            .map((n, i) => {
                if (i === pageIndex)
                    return (
                        <ui5-button design="Emphasized" disabled>
                            <>{i + 1}</>
                        </ui5-button>
                    )
                if (
                    Math.abs(i - pageIndex) <
                        Math.max(5 - pageIndex, 6 - totalPage + pageIndex, 2) ||
                    (i == 1 && pageIndex == 3) ||
                    (i == totalPage - 2 && pageIndex == totalPage - 4)
                )
                    return (
                        <ui5-button design="Default" data-to={i}>
                            <>{i + 1}</>
                        </ui5-button>
                    )
                if (i === 0)
                    return (
                        <ui5-button design="Default" data-to="0">
                            <>1</>
                        </ui5-button>
                    )
                if (i === totalPage - 1)
                    return (
                        <ui5-button design="Default" data-to={i}>
                            <>{totalPage}</>
                        </ui5-button>
                    )
                if (i === 1)
                    return (
                        <ui5-button design="Transparent" disabled>
                            <>...</>
                        </ui5-button>
                    )
                if (i === totalPage - 2)
                    return (
                        <ui5-button design="Transparent" disabled>
                            <>...</>
                        </ui5-button>
                    )
            })
    }
    <ui5-button
        design="Emphasized"
        icon="navigation-right-arrow"
        disabled={nextIsDisabled}
        data-to={pageIndex + 1}
    >
    </ui5-button>
</span>
<style>
    span {
        display: inline-flex;
        gap: 4px;
    }
</style>
